<div id="todo" class="well">
{% block todo %}
<table class="table table-hover">
    <thead>
        <tr>
            <td>
                <h3>Todo List<small> - Your task manager</small></h3>
            </td>
        </tr>
    </thead>
    <tbody>
        <th>Task Name</th>
        <th>Operations</th>
        <th>Created At</th>
        {% for todo in todolist %}
        {% if todo.priority == '1' %}
        <tr class='error'>
        {% endif %}
        {% if todo.priority == '2' %}
        <tr class='warning'>
        {% endif %}
        {% if todo.priority == '3' %}
        <tr class='necessary'>
        {% endif %}
            <td class="todo">{{ todo.todo }}</td>
            <td class="te">
                  <a href="{% url "finish" todo.id %}" title="finish"><i class=" icon-ok"></i></a>
            </td>
            <td class="te">
                  <a href="{% url "update" todo.id %}" title="edit"><i class="icon-edit"></i></a>
            </td>
            <td class="te">
                  <a href="{% url "delete" todo.id %}" title="delete"><i class="icon-trash"></i></a>
            </td>
            <td><p>{{ todo.pubtime }}<p></td>
        </tr>
        {% endfor %}
        {% for ftodo in finishtodos %}
        <tr class='success'>
            <td class="ftodo muted">{{ ftodo.todo }}</td>
            <td class="te">
                  <a href="{% url "finish" todo.id %}" title="finish"><i class=" icon-ok"></i></a>
            </td>
            <td class="te">
                  <a href="{% url "update" todo.id %}" title="edit"><i class="icon-edit"></i></a>
            </td>
            <td class="te">
                  <a href="{% url "delete" todo.id %}" title="delete"><i class="icon-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="button type2" href="#myModal" role="button" data-toggle="modal">
    <i class="icon-plus"></i><span > ADD</span>
</a>
<a class="button type2" href="{% url "show" %}" role="button">
    <i class="icon-minus"></i><span > Show Completed</span>
</a>
{% endblock %}
</div>
